@import "tailwindcss";

/* @source "../node_modules/@my-company/ui-lib"; */

@config "../../tailwind.config.js"


/* custom-styles.css */
.custom-hover {
    @apply bg-gray-50 hover:bg-gray-400 transition duration-300 ease-in-out;
}